<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>E-Shop</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
<body>
<div align="center">
  <h1>Product Management</h1>
<p th:href="@{/get-max-id}" th:text="${maxId}"></p>
  <p>
    <a class="btn menu" th:href="@{/populate-table}">Populate</a>
    <a class="btn menu" th:href="@{/add-new-form}">Add</a>
    <a class="btn menu" th:href="@{/switch-is-all-out-of-sale-visible}">Hide/Show out of sale</a>
    <a class="btn menu" th:href="@{/set-all-out-of-sale-deleted}">Delete out of sale</a>
    <a class="btn menu" th:href="@{/set-all-deleted}">Delete all</a>
  </p>

  <table>
    <tr>
      <th>Part Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>For Sale</th>
      <th>Price</th>
      <th>Action</th>
    </tr>

    <tr th:each="product:${allProducts}">
      <td th:text="${product.partNo}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.description}"></td>
      <td>
        <span th:if="${product.isForSale == false}" th:text="${product.isForSale}" style="color: tomato"></span>
        <span th:unless="${product.isForSale == false}" th:text="${product.isForSale}" style="color: inherit"></span>
      </td>
      <td th:text="${product.price}"></td>
      <td>
        <a class="btn upd" th:href="@{/update-form/{id}(id=${product.id})}">Update</a>
        <a class="btn del" th:href="@{/set-by-id-deleted/{id}(id=${product.id})}">Delete</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>