<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>E-Shop</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
<body>
  <div align="center">
    <h1>Create New Product</h1>

    <form action="#" th:action="@{/save-product}" th:object="${product}" method="POST">
      <p><input type="text" th:field="*{partNo}" placeholder="Part No."></p>
      <p><input type="text" th:field="*{name}" placeholder="Name"></p>
      <p><input type="text" th:field="*{description}" placeholder="Description"></p>
      <p><input type="text" th:field="*{isForSale}" placeholder="For Sale"></p>
      <p><input type="text" th:field="*{price}" placeholder="Price"></p>

      <button class="btn new" type="submit">Save</button>
    </form>

    <hr>
    <a th:href="@{/}">Home</a>
  </div>
</body>
</html>